# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Environment
.env

# Data
data/train.csv
data/test.csv
hf_cache/

# Train artifacts
train/
!train/*.py

# Docker
.dockerignore
docker-compose.*
.docker/

# Cache
.ruff_cache/

 