# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_DEFAULT_VHOST=/
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Frontend
API_BASE_URL=http://emotion-classification-service:8000/api

# ClearML
CLEARML_WEB_HOST=https://clearml.media-tracking.ru
CLEARML_API_HOST=https://api.clearml.media-tracking.ru
CLEARML_FILES_HOST=https://files.clearml.media-tracking.ru
CLEARML_API_ACCESS_KEY=...
CLEARML_API_SECRET_KEY=...

DATASET_ID=...