CLEARML_HOST_IP=...

CLEARML_WEB_HOST=...
CLEARML_API_HOST=...
CLEARML_FILES_HOST=...

# agent
CLEARML_AGENT_ACCESS_KEY=...
CLEARML_AGENT_SECRET_KEY=...

CLEARML_AGENT_GIT_PASS=none
CLEARML_AGENT_GIT_USER=none

# serving
CLEARML_API_ACCESS_KEY=...
CLEARML_API_SECRET_KEY=...
CLEARML_SERVING_TASK_ID=...

